.myTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.myTable td, .myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.myTable tr:nth-child(even){background-color: #f2f2f2;}

.myTable tr:hover {background-color: #ddd;}

.myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2d8766;
  color: white;
}